{% extends "base.html.twig" %}

{% block body %}

    <h1 class="titre_new text-center">Ajouter une action</h1>
    
    <div class="articleForm">
        <div class="actionForm container">
        {{ form_start(form) }}
            <div>{{form_row(form.titre)}}</div>
            <div>{{form_row(form.description)}}</div>
           

        <div class="d-flex justify-content-around" >
        <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
        <a class="btn btn-primary" href="{{ path('app_user_index') }}">Retour</a>
        </div>   
        </div>          
    </div> 

{% endblock %}