<section class='act'>
    <h2 class="my-3 text-center text-uppercase">Gerer les actions</h2>
    <div class="adTable table-responsive-sm d-flex justify-content-center">
        <table class="aTable table">
            <thead class="">
                <tr class="">
                    <th>Description</th>
                    
                    <th>Titre</th>
                    
                    <th class='ico'></th>
                </tr>
            </thead>
            <tbody>
            {% for action in actions %}
                <tr>
                    <td>
                    <div class="desc">
                    {{ action.description|striptags|raw}}
                    </div>
                    </td>
                    <td>{{ action.titre }}</td>
                    <td class="ico">
                    <div class="icone">
                        <form>
                        <a class="btn btn-success py-1 px-2" href="{{path("update_action", {id: action.id})}}">
                            <i class="visu2 fa-solid fa-pen-to-square"></i>
                        </a>
                        </form>
                        {% if is_granted('ROLE_S_AD') %}
                        <form method="post" action="{{path("delete_action", {id: action.id})}}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ action.id) }}">
                            <button type="submit" class=" btn btn-danger py-1 px-2">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun ajout trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <a href="{{ path('new_action') }}"class='d-flex justify-content-center'><span class="btn btn-warning"> + Ajouter une action </span></a>
</section>  