{% extends 'base.html.twig' %}

{% block title %}Modifier carousel{% endblock %}

{% block body %}
<section id='sectionCar'>
<div class="carouselForm container">
    <div class="profil my-5" id="formPersPhy">
     {{ form_start(form) }}
        <h3 class="cTitre text-center">Modifier carousel</h3>
        <div class="champ d-flex justify-content-between">
                {{ form_row(form.type) }}
            <div class="">
                {{ form_row(form.titre) }}
            </div>
                {{ form_row(form.date) }}
        </div>
        <div class="my-3">
        {{ form_row(form.auteur) }}
        </div>
        {% if newz.image %}
            <div class="form-group ms-1 mb-3">
                <label for="newz_image">Image actuelle :</label>
                <img src="{{ asset('upload/' ~ newz.image) }}" alt="Miniature" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
            </div>
        {% endif %}
        <div class="my-3">
        {{ form_row(form.image) }}
        </div>
        {{ form_row(form.contenu) }}
    </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-success me-5">Mettre à jour</button>
    {{ form_end(form) }}
            <a class="btn btn-primary" href="{{ path('app_user_index') }}">Retour</a>
        </div>
</div>
</section>
<style>
    #formPersPhy input[type="file"] {
        border: none;
    }
</style>
{% endblock %}
