{% extends "base.html.twig" %}

{% block body %}

    <h1 class="titre_new text-center">Ajouter un À propos</h1>
    
    <div class="articleForm d-flex justify-content-center">
        <div class="w-75">
        {{ form_start(form) }}
            <div>{{form_row(form.titre)}}</div>
            <div>{{form_row(form.contenu)}}</div>
            Ajouter une image <br>
            <div>{{form_row(form.image)}}</div>

        <div class="submit-button text-center" >
        {{ form_end(form) }}
        </div>   
        </div>          
    </div> 

{% endblock %}