{% extends "base.html.twig" %}

{% block body %}

    <h1 class="titre_new text-center">Ajouter un À propos</h1>
    
    <div class="articleForm d-flex justify-content-center">
        <div class="w-75">
        {{ form_start(form) }}
            {{form_row(form.titre)}}
            {{form_row(form.contenu)}}
            Ajouter une image <br>
            {{form_row(form.image)}}
            {{form_row(form.auteur)}}
            {{form_row(form.date)}}

        <div class="submit-button text-center" >
        {{ form_end(form) }}
        </div>   
        </div>          
    </div> 

{% endblock %}