<section class='art'>
    <h2 class="my-3 text-center text-uppercase">Gerer les articles</h2>
    <div class="adTable table-responsive-sm d-flex justify-content-center">
        <table class="aTable table">
            <thead class="">
                <tr class="">
                    <th>Description</th>
                    <th>Date</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th class='ico'></th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>
                    <div class="desc">
                    {{ article.description|striptags|raw}}</td>
                    </div>
                    </td>
                    <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.auteur }}</td>
                    <td class="ico">
                    <div class='icone'>
                        <form>
                        <a class="btn btn-success py-1 px-2" href="{{path("update_article", {id: article.id})}}">
                            <i class="visu2 fa-solid fa-pen-to-square"></i>
                        </a>
                        </form>
                        {% if is_granted('ROLE_S_AD') %}
                        <form action="{{path("delete_article", {id: article.id})}}" method="post" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ?')";>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                            <button type="submit" class=" btn btn-danger py-1 px-2">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun ajout trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <a href="{{ path('new_article') }}"class='d-flex justify-content-center'><span class="btn btn-warning"> + Ajouter un article </span></a>
</section>  